version: 2

workflows:
  version: 2
  test:
    jobs:
      - lint
      - test
  release:
    jobs:
      - release:
          filters:
            branches:
              ignore: /.*/
            tags:
              # Only on tags formatted like v0.1.1
              only: /^v\d+\.\d+\.\d+$/

jobs:
  lint:
    docker:
      - image: golang:1.13
    working_directory: /go/src/github.com/codedropau/terraform-provider-s3-remote
    steps:
      - checkout
      - run: |
          go get golang.org/x/lint/golint
          make lint

  test:
    docker:
      - image: golang:1.13
    working_directory: /go/src/github.com/codedropau/terraform-provider-s3-remote
    steps:
      - checkout
      - run: make test

  release:
    docker:
      - image: golang:1.13
    steps:
      - checkout
      - run:
          name: "Install Dependencies"
          command: |
            apt-get update && apt-get install -y zip
            go get github.com/tcnksm/ghr
      - run:
          name: "Build"
          command: make build
      - run:
          name: "Publish Release on GitHub"
          command: |
            VERSION=$(git describe --tags --always)
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${VERSION} ./bin/
